---
import HtmlIcon from './icons/Html.astro';
import CssIcon from './icons/Css.astro';
import JavaScriptIcon from './icons/JavaScript.astro';
import GitHubIcon from './icons/GitHub.astro';
import AstroIcon from './icons/AstroIcon.astro';
import ReactJSIcon from './icons/ReactJS.astro';
import AndroidIcon from './icons/Android.astro';
import AngularIcon from './icons/Angular.astro';
import BootstrapIcon from './icons/Bootstrap.astro';
import DartIcon from './icons/Dart.astro';
import DockerIcon from './icons/Docker.astro';
import ElectronIcon from './icons/Electron.astro';
import ExpoIcon from './icons/Expo.astro';
import ExpressjsIcon from './icons/Expressjs.astro';
import FigmaIcon from './icons/Figma.astro';
import FirebaseIcon from './icons/Firebase.astro';
import FlutterIcon from './icons/Flutter.astro';
import GraphQLIcon from './icons/GraphQL.astro';
import MongoIcon from './icons/Mongo.astro';
import MySqlIcon from './icons/MySql.astro';
import NestJSIcon from './icons/NestJS.astro';
import NetlifyIcon from './icons/Netlify.astro';
import NextJSIcon from './icons/NextJS.astro';
import NodejsIcon from './icons/Nodejs.astro';
import PostgresIcon from './icons/Postgres.astro';
import PostmanIcon from './icons/Postman.astro';
import ReactQueryIcon from './icons/ReactQuery.astro';
import ReactRouterIcon from './icons/ReactRouter.astro';
import ReduxIcon from './icons/Redux.astro';
import StripeIcon from './icons/Stripe.astro';
import TailwindcssIcon from './icons/Tailwindcss.astro';
import TypescriptIcon from './icons/Typescript.astro';
import VercelIcon from './icons/Vercel.astro';
import VitejsIcon from './icons/Vitejs.astro';
import VueIcon from './icons/Vue.astro';
import WebIcon from './icons/Web.astro';

import LinkButton from './LinkButton.astro';
import Web from './icons/Web.astro';
interface Tag {
	name: string;
	class: string;
	icon: any;
	link?: boolean;
}

export const TAGS: Record<string, Tag> = {
	HTML: {
		name: 'HTML',
		class: 'border border-[#E34F26]/70',
		icon: HtmlIcon,
	},
	CSS: {
		name: 'CSS',
		class: 'border border-[#0C73B8]/70',
		icon: CssIcon,
	},
	JAVASCRIPT: {
		name: 'JavaScript',
		class: 'border border-[#F0DB4F]/70',
		icon: JavaScriptIcon,
	},
	ASTRO: {
		name: 'Astro',
		class: 'border border-[#FF5D01]/70',
		icon: AstroIcon,
	},
	REACT: {
		name: 'React',
		class: ' border border-[#00D8FF]/70',
		icon: ReactJSIcon,
	},
	ANDROID: {
		name: 'Android',
		class: 'border border-[#34A853]',
		icon: AndroidIcon,
	},
	ANGULAR: {
		name: 'Angular',
		class: ' border border-[#D923AD]/70',
		icon: AngularIcon,
	},
	BOOTSTRAP: {
		name: 'Bootstrap',
		class: ' border border-[#7E13F8]/70',
		icon: BootstrapIcon,
	},
	DART: {
		name: 'Dart',
		class: ' border border-[#117ABB]/70',
		icon: DartIcon,
	},
	DOCKER: {
		name: 'Docker',
		class: ' border border-[#008FE2]/70',
		icon: DockerIcon,
	},
	ELECTRON: {
		name: 'Electron',
		class: ' border border-[#638695]/70',
		icon: ElectronIcon,
	},
	EXPO: {
		name: 'Expo',
		class: 'border border-white/60',
		icon: ExpoIcon,
	},
	EXPRESSJS: {
		name: 'ExpressJS',
		class: ' border border-white/60',
		icon: ExpressjsIcon,
	},
	FIGMA: {
		name: 'Figma',
		class: ' border border-[#E95A3B]/70',
		icon: FigmaIcon,
	},
	FIREBASE: {
		name: 'Firebase',
		class: ' border border-[#FCCA3F]/70',
		icon: FirebaseIcon,
	},
	FLUTTER: {
		name: 'Flutter',
		class: ' border border-[#47C5FB]/70',
		icon: FlutterIcon,
	},
	GRAPHQL: {
		name: 'GraphQL',
		class: ' border border-[#E10098]/70',
		icon: GraphQLIcon,
	},
	MONGO: {
		name: 'MongoDB',
		class: ' border border-[#01EC64]/70',
		icon: MongoIcon,
	},
	MYSQL: {
		name: 'MySQL',
		class: ' border border-[#052932]',
		icon: MySqlIcon,
	},
	NESTJS: {
		name: 'NestJS',
		class: ' border border-[#E0234E]/70',
		icon: NestJSIcon,
	},
	NETLIFY: {
		name: 'Netlify',
		class: ' border border-[]/70',
		icon: NetlifyIcon,
	},
	NEXTJS: {
		name: 'NextJS',
		class: ' border border-[#06A7A4]/70',
		icon: NextJSIcon,
	},
	NODEJS: {
		name: 'NodeJS',
		class: ' border border-[#4B8E3D]/70',
		icon: NodejsIcon,
	},
	POSTGRES: {
		name: 'PostgreSQL',
		class: ' border border-[#336791]/70',
		icon: PostgresIcon,
	},
	POSTMAN: {
		name: 'Postman',
		class: ' border border-[#FF6C37]/70',
		icon: PostmanIcon,
	},
	REACTQUERY: {
		name: 'React Query',
		class: ' border border-[#FE4154]/70',
		icon: ReactQueryIcon,
	},
	REACTROUTER: {
		name: 'React Router',
		class: ' border border-[#F44250]/70',
		icon: ReactRouterIcon,
	},
	REDUX: {
		name: 'Redux',
		class: ' border border-[#6A43A9]/70',
		icon: ReduxIcon,
	},
	STRIPE: {
		name: 'Stripe',
		class: ' border border-[#5851E1]/70',
		icon: StripeIcon,
	},
	TAILWINDCSS: {
		name: 'TailwindCSS',
		class: ' border border-[#38BDF8]/70',
		icon: TailwindcssIcon,
	},
	TYPESCRIPT: {
		name: 'TypeScript',
		class: ' border border-[#3178C6]/70',
		icon: TypescriptIcon,
	},
	VERCEL: {
		name: 'Vercel',
		class: ' border border-white/60',
		icon: VercelIcon,
	},
	VITEJS: {
		name: 'ViteJS',
		class: ' border border-[#7490FE]/70',
		icon: VitejsIcon,
	},
	VUE: {
		name: 'VueJS',
		class: ' border border-[#41B883]/70',
		icon: VueIcon,
	},
};

const PROJECTS = [
	{
		title: 'Encrypt Message',
		description: 'Encripta y Desencripta al instante tus mensajes con esta página web',
		demoLink: 'https://g0cardev.github.io/encrypt-message/',
		codeLink: 'https://github.com/g0carDev/encrypt-message',
		imageUrl: '/img/projects/encrypt-message.webp',
		tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
	},
	{
		title: 'Kings Burger',
		description: 'Lading Page para una tienda de comida rapida',
		demoLink: 'https://king-burger-restaurant.vercel.app/',
		codeLink: 'https://github.com/g0carDev/king-burger-restaurant',
		imageUrl: '/img/projects/kings-burger.webp',
		tags: [TAGS.ASTRO, TAGS.CSS, TAGS.JAVASCRIPT],
	},
	{
		title: 'Coffe Shop',
		description: 'Lading Page para una tienda de café',
		demoLink: 'https://g0car-coffee-shop.vercel.app/',
		codeLink: 'https://github.com/g0carDev/coffee-shop',
		imageUrl: '/img/projects/coffee-shop.webp',
		tags: [TAGS.ASTRO, TAGS.CSS, TAGS.REACT],
	},
];
---

<section class='flex flex-col gap-y-16'>
	{
		PROJECTS.map(({ title, description, demoLink, codeLink, imageUrl, tags }) => {
			return (
				<article class='flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0'>
					<div class='w-full md:w-1/2'>
						<div class='relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50'>
							<img
								alt={`Captura de pantalla del proyecto ${imageUrl}`}
								class='object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105'
								loading='lazy'
								src={imageUrl}
							/>
						</div>
					</div>
					<div class='w-full md:w-1/2 md:max-w-lg'>
						<h3 class='text-2xl font-bold text-red-200 mb-2'>{title}</h3>
						<div class='flex flex-wrap'>
							<ul class='flex gap-x-2 flex-row mb-2'>
								{tags.map((tag) => (
									<li>
										<span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}>
											<tag.icon class='size-4' />
											{tag.name}
										</span>
									</li>
								))}
							</ul>

							<p class='mb-4 text-lg  text-gray-400 text-pretty'>{description}</p>
							<footer class='flex gap-x-4 items-end justify-start'>
								{codeLink && (
									<LinkButton href={codeLink}>
										<GitHubIcon class='size-6' />
										Código
									</LinkButton>
								)}
								<LinkButton href={demoLink}>
									<WebIcon />
									Ir al sitio web
								</LinkButton>
							</footer>
						</div>
					</div>
				</article>
			);
		})
	}
</section>
